
<table class="table table-bordered">
<div class="jumbotron">
<h2 class="display-4">Welcome to the best news channel!</h2>
<hr class="my-4">
<button class = "btn btn-success btn-lg">
<%= link_to 'Go To Blog', controller: 'articles' %>
</button>
</div>
</table>

